body {
  padding: 5px;
  font-family: sans-serif;
  font-size: 14px;
}

.test-lr {
  padding: 2em;
  color: #888;
  font-weight: bolder;

  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
  background-image: -webkit-linear-gradient(top, #fff, #efefef);
  background-image:    -moz-linear-gradient(top, #fff, #efefef);
  background-image:     -ms-linear-gradient(top, #fff, #efefef);
  background-image:      -o-linear-gradient(top, #fff, #efefef);
  background-image:         linear-gradient(to bottom, #fff, #efefef);

  box-shadow: 0px 0px 0px 2px #efefef;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.test-lr.d3 {
  -webkit-perspective: 300;
     -moz-perspective: 300;
      -ms-perspective: 300;
          perspective: 300;
  -webkit-transform: rotateY(180deg);  -webkit-transform-style: preserve-3d;
     -moz-transform: rotateY(180deg);     -moz-transform-style: preserve-3d;
      -ms-transform: rotateY(180deg);      -ms-transform-style: preserve-3d;
          transform: rotateY(180deg);          transform-style: preserve-3d;
}
